
.header{
    width: 980px;
    background-color: white;
    position: fixed; 
    top: 0;
    left:0;
    padding-left: 121px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.h{
    display: flex;
    align-items: center;
    width: 599px;
    height: 53px;
    border:1px solid rgb(192,192,192);
}
.h1,.h2{
    border: 0px;
    color: rgb(112, 112, 112);
    width: 300px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
}
.h2{
    margin-right: 32px;
}
.h1:hover,
.h2:hover{
    background-color: rgb(233, 233, 233);
    color: rgb(20, 20, 20);
    cursor: pointer;
}
.search-bar{
    width:320px;
    color: rgb(29, 27, 27);
    height: 43px;
    font-size:16px;
    border: 0.1em;
    border-radius: 30px;
    background-color: rgb(244, 245, 247);
    padding-left:30px;
    margin-top: 5px;
}
 

.header-settings-icon {
       margin-top:10px;
}

.header-settings-icons {
    width: 45px; /* Set the width of the image to 30 pixels */
}

.header-settings-icon:hover{
    border-radius: 50%;
    background-color:rgb(212, 211, 211);
    cursor: pointer;
}

.header-settings-icon .tooltip{
    position: absolute;
    background-color: grey;
    color: white;
    padding:4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom:-30px;
    opacity:0;
    transition-delay: 0.5s;
    pointer-events: none;
    white-space: nowrap;
}

.header-settings-icon:hover .tooltip{
    opacity:1;
}